asgiref==3.5.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
finance-datareader==0.9.33
idna==3.3
lxml==4.8.0
numpy==1.22.3
pandas==1.4.2
psycopg2==2.9.3
PyJWT==2.3.0
python-dateutil==2.8.2
pytz==2022.1
pyupbit==0.2.26
requests==2.27.1
requests-file==1.5.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tqdm==4.64.0
urllib3==1.26.9
websockets==9.1
